<div id="admin-videos">

	<!-- BOUTONS NEW VIDEO -->
	<div id="new-video-admin">
		<a href="{{ path('new_video') }}"><button class="btn"><i data-feather="plus-circle"></i><br>Nouvelle vidéo</button></a>
	</div>

	{% for video in videos %}
		<div id="admin-video">
			

			<div class="row">
				<div class="col-md-3 col-6" id="admin-video-url">
					<iframe width="260" height="180" src="https://www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="col-md-6 col-6" id="admin-video-name">
					<h4><span id="video-title">Titre :</span><br>{{ video.name }}</h4>
				</div>
		
				<div class="col-md-3 col-12" id="admin-video-action">
					<!-- EDIT BUTTON -->
					<button type="button" class="btn edit-button" data-toggle="modal" data-target="#video-edit-{{ video.id }}"><i data-feather="edit"></i>  <span class="admin-buttons">éditer</span></button>

					<div class="modal fade" id="video-edit-{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel"><i data-feather="edit"></i> Modification de vidéo</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        Etes-vous certain(e) de bien vouloir modifier cette vidéo ?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					        <a href="{{ path('edit_video', { 'id': video.id }) }}"><button type="button" class="btn confirm-edit">Confirmer</button></a>
					      </div>
					    </div>
					  </div>
					</div>


					<!-- DELETE BUTTON -->
					<button type="button" class="btn delete-button" data-toggle="modal" data-target="#video-delete-{{ video.id }}"><i data-feather="trash"></i>  <span class="admin-buttons">supprimer</span></button>

					<div class="modal fade" id="video-delete-{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel"><i data-feather="alert-triangle"></i> Suppression de vidéo</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        Etes-vous certain(e) de bien vouloir supprimer cette vidéo ?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					        <a href="{{ path('delete_video', {'id': video.id }) }}"><button type="button" class="btn confirm-delete">Confirmer</button></a>
					      </div>
					    </div>
					  </div>
					</div>


				</div>
			</div>


		</div>
	{% else %}
		<p>Aucune vidéo.</p>
	{% endfor %}

</div>