{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

	<div class="container-fluid" id="post-single">
		<div id="post-image">
			<img src="{{ asset('build/img/'~post.image|raw) }}" alt="{{ post.title }}">
		</div>

		<div id="categories">
			<div id="post-categories">
				{% for category in post.categories %}
					<div id="post-category">
						<img src="{{ asset('build/img/'~category.image|raw) }}" alt="{{ category.name }}">
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="container" id="post-data">
			<div id="post-header">
				<h2>{{ post.title }}</h2>
				<p id="post-date">{{ post.datePost|date('d-m-y') }}</p>
			</div>

			<div id="post-content">
				{{ post.content|nl2br }}
			</div>

			<div id="horizontal-ligne"></div>

			<div id="block-comments">
				<h3>Commentaires</h3>

				<div id="form-comment">
					{{ form_start(form) }}

					<div class="form-row">
						<div class="col-md-6 col-12">
							{{ form_label(form.username) }}
							{{ form_widget(form.username, {'attr': {
							'class': 'form-control'
							}}) }}
						</div>
						<div class="col-md-6 col-12">
							{{ form_label(form.email) }}
							{{ form_widget(form.email, {'attr': {
							'class': 'form-control'
							}}) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(form.content) }}
						{{ form_widget(form.content, {'attr': {
						'class': 'form-control',
						'rows' : 4
						}}) }}
					</div>

					{{ form_row(form.Poster, {'attr': {'class': 'btn'}}) }}

					{{ form_end(form) }}
				</div>

				<div id="comments">
					{% for comment in post.comments %}
						<div id="block-comment">
							<p><span id="username-comment">{{ comment.username }}</span> 
							<span id="date-comment">{{ comment.dateComment|date('d-m-y') }}</span>
							{% if comment.reported == true %}
								<p id="reported-comment">Signalé</p>
							{% else %}
								<!-- Button -->
								<button type="button" class="btn report-comment" data-toggle="modal" data-target="#comment{{ comment.id }}">Signaler</button>
								</p>

								<!-- Modal -->
								<div class="modal fade" id="comment{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLabel"><i data-feather="alert-triangle"></i> Signalement commentaire</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								        Etes-vous certain(e) de bien vouloir signaler ce commentaire ?
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
								        <a href="{{ path('blog_comment_report', { 'postId': post.id, 'id': comment.id }) }}"><button type="button" class="btn confirm-report">Confirmer</button></a>
								      </div>
								    </div>
								  </div>
								</div>

							{% endif %}
							<p id="content-comment"> {{ comment.content }} </p>
						</div>
					{% else %}
						<div id="no-comment-yet">
							Pas de commentaire.
						</div>
					{% endfor %}

				</div>
			</div>

		</div>
	</div>

{% endblock %}